* {
	margin: 0;
	position: absolute;
}

body {
	height: 100vh;
	width: 100vw;
	background: #eee;
}

#canvas {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50vmin;
	height: 50vmin;
}

#head {
	width: 35vmin;
	height: 30vmin;
	background: #1F1F1F;
	border-radius: 0 0 15vmin 15vmin;
	left: 7.5vmin;
	top: 20vmin;
}

#ear1, #ear2 {
	width: 14vmin;
	height: 12vmin;
	background: #1F1F1F;
	border-radius: 5vmin 15vmin 0 0;
	left: 7.5vmin;
	top: 10vmin;
}
#ear2 {
	left: 28.5vmin;
	border-radius: 15vmin 5vmin 0 0;
}

#eye1, #eye2 {
	width: 10vmin;
	height: 10vmin;
	border-radius: 50%;
	background: #F9AF27;
	left: 5vmin;
	top: 5vmin;
}

#eye2 {
	left: 20vmin;
}

.retina {
	background: #000;
	height: 5vmin;
	width: 5vmin;
	border-radius: 100% 0;
	transform: rotate(-45deg);
	left: 25%;
	top: 25%;
}

#mouth1,#mouth2 {
	border: 2vmin solid #fff;
	width: 4vmin;
	height: 4vmin;
	border-radius: 50%;
	border-right-color: rgba(0,0,0,0);
	border-top-color: rgba(0,0,0,0);
	transform: rotate(-45deg);
	top: 17vmin;
	left: 10.5vmin;
}

#mouth2 {
	left: 17vmin;
}

#earIn1,#earIn2 {
	width: 8vmin;
	height: 8vmin;
	background: #fff;
	border-radius: 5vmin 15vmin 3vmin 10vmin;
	top: 2vmin;
	left: 1vmin;
}

#earIn2 {
	border-radius: 15vmin 5vmin 10vmin 3vmin;
	left: 5vmin;
}